<% include ../header.ejs %>
<% include ../errorlist.ejs %>
<form action='/usuario/cadastro' method='POST'>
	<label for="usuario_nome">Nome:</label><input type='text' name='usuario[nome]' id='usuario_nome' />
	<label for="usuario_nickname">Nickname: @</label><input type='text' name='usuario[nickname]' id='usuario_nickname'/>
	<label for="usuario_email">E-mail:</label><input type='text' name='usuario[email]' id='usuario_email'/>
	<label for="usuario_senha">Senha:</label><input type='password' name='usuario[senha]' id='usuario_senha'/>
	<label for="usuario_conf_senha">Confirmação de senha:</label><input type='password' name='usuario[conf_senha]' id='usuario_conf_senha'  />

	<input type='submit' value='Entrar' />
</form>

<% include ../footer.ejs %>
