/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.footer .container {
	line-height: 60px;
	max-width: 680px;
	padding: 0 15px;
	width: auto;
}
.footer .container .text-muted {
  line-height: inherit;
  margin: 0;
  text-align: center;
}

#nweet_feed{
  list-style: none;
  padding: 0;
}
#nweet_feed li{
  border:1px solid #CCC;
  border-radius: 10px;
  font-size:14px;
  margin:10px 0;
  padding:20px;
  padding-right: 70px;
  position:relative;
}
#nweet_feed li .publish_date{
  font-style: italic;
  font-size:10px;
  position: absolute;
  right:10px;
  top:10px;
}