<% include ../header.ejs %>
<% include ../errorlist.ejs %>
<form action='/usuario/login/processa' method='POST'>
	<input type='text' name='usuario[nickname]' placeholder='login' />
	<input type='password' name='usuario[senha]' placeholder='senha' />

	<a href='/usuario/cadastro'>Criar nova conta</a>

	<input type='submit' value='Entrar' />
</form>

<% include ../footer.ejs %>