<% include ../header.ejs %>
<% include ../errorlist.ejs %>
<form action='/usuario/login/processa' method='POST' class="form-horizontal col-sm-8 col-sm-offset-2"> 
	<h2>Seja bem-vindo!</h2>
	<div class="form-group">
		<input type='text' name='usuario[nickname]' placeholder='login'  class="form-control" />
	</div>
	<div class="form-group">
		<input type='password' name='usuario[senha]' placeholder='senha' class="form-control" />
	</div>
	<div class="form-group">
		<a href='/usuario/cadastro'>Criar nova conta</a>

		<input type='submit' value='Entrar' class="btn btn-primary" />
	</div>
</form>

<% include ../footer.ejs %>